<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Sipomas Account Pagination</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <div class="container">
      <div class="row justify-content-center mt-4">
        <div class="col col-md-8">
          <h1 class="text-center">Account Information</h1>

          <table class="table">
            <thead class="text-center">
              <tr>
                <th scope="col">ID</th>
                <th scope="col">Username</th>
                <th scope="col">Email</th>
                <th scope="col">Role</th>
              </tr>
            </thead>
            <tbody>
              {{range .Accounts }}
                <tr>
                  <th scope="row">{{ .ID }}</th>
                  <td>{{ .Username }}</td>
                  <td>{{ .Email }}</td>
                  <td>{{ .Role }}</td>
                </tr>
              {{ end }}
            </tbody>
          </table>
        </div>
      </div>

      <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center">
          <li class="page-item">
            <a class="page-link" href="?page=1">First</a>
          </li>
          
          <li class="page-item">
            {{ if eq .Pagination.CurrentPage 1 }}
              <a class="page-link disabled" href="?page=">
                <span aria-hidden="true">&laquo;</span></a>
            {{ else }}
              <a class="page-link" href="?page={{ len (slice (printf "%*s" .Pagination.CurrentPage "") 1)}}">
                <span aria-hidden="true">&laquo;</span></a>
            {{ end }}
          </li>

          {{ range .Pagination.Pages }}
            <li class="page-item">
              {{ if eq . $.Pagination.CurrentPage }}
                <a class="page-link active" href="?page={{ . }}">{{ . }}</a>
              {{ else }}
                <a class="page-link" href="?page={{ . }}">{{ . }}</a>
              {{ end }}
            </li>
            {{ end }}

            <li class="page-item">
              {{ if eq .Pagination.CurrentPage .Pagination.LastPage }}
                <a class="page-link disabled" href="?page=">
                  <span aria-hidden="true">&raquo;</span></a>
              {{ else }}
                <a class="page-link" href="?page={{ len (printf "a%*s" .Pagination.CurrentPage "") }}">
                  <span aria-hidden="true">&raquo;</span></a>
              {{ end }}
            </li>
          
          <li class="page-item">
            <a class="page-link" href="?page={{ .Pagination.LastPage }}">Last</a>
          </li>
        </ul>
      </nav>
    </div>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
